{% extends "base.html" %}

{% block title %}Home - CTF Trainer{% endblock %}

{% block content %}
    <div class="container text-center mt-4">
        <h1 class="display-4">Welcome to CTF Trainer</h1>
        <p class="lead">Get ready for an exciting challenge! Start training with our CTF platform.</p>
        <hr class="my-4">
        <p>Choose a category and begin your journey.</p>
        <a class="btn btn-primary btn-lg" href="/play" role="button">Start Playing</a>
        <a class="btn btn-outline-light btn-lg" href="/about" role="button">Learn More</a>
    </div>
{% endblock %}
