{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if user.is_authenticated %}
<a>You are already logged in!</a>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{% else %}   
<h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
<p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
{% endif %}
{% endblock %}