{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if user.is_authenticated %}
<a>You are already logged in!</a>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button class="btn btn-primary" type="submit">Logout</button>
</form>
{% else %}
{% if error %}
<p class="text-danger">{{ error }}</p>
{% endif %}
<div class="col-md-4">
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="id_username">Username:</label>
            <p></p>
            <input class="form-control" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
        </p>
        <p>
            <label for="id_password">Password:</label>
            <p></p>
            <input class="form-control" type="password" name="password" autocomplete="current-password" required="" id="id_password">
        </p>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
</div>
<br>
<p>Don't have an account? <a class="btn btn-outline-primary" href="register">Register</a></p>
{% endif %}
{% endblock %}