{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<div class="container mt-5">
    <div id="game-container" class="text-center">
        <h2>Ready?</h2>
        <br>
        <form method="POST" action="game">
            {% csrf_token %}
            <button id="start-btn" class="btn btn-danger">Start Game</button>
        </form>
    </div>
</div>

<div id="output" style="margin: 20px; padding: 10px"></div>

<script>
    let ws;

    function startWebSocket() {
        const output = document.getElementById('output');
        
        ws = new WebSocket('ws://' + window.location.host + '/ws');
        
        ws.onmessage = (event) => {
            if (event.data === 'Success!') {
                ws.close();
                output.innerHTML += `<p>Game started! Redirecting to</p>`;
                output.innerHTML += `<a href='/game'>/game</a>`;
                window.location.href = '/game';
            }
            output.innerHTML += `<p>${event.data}</p>`;
        };

        ws.onerror = () => {
            output.innerHTML += `<p class="text-danger">Something went wrong, connection closed</p>`
        }
    }

    document.getElementById('start-btn').addEventListener('click', (e) => {
        e.preventDefault();
        startWebSocket();
    });
</script>

{% if result == 'error' %}
<a>something went wrong!</a>
{% endif %}

{% else %}
<h4 class="text-warning">You are not logged in!</h4>
<br>
<a class="btn btn-primary" href="login">Login</a>
<a class="btn btn-outline-primary" href="register">Register</a>
{% endif %}


{% endblock %}